/* themes.css */

/* Tema Claro */
:root {
    --background: #f6f8fa;
    --text-primary: #24292e;
    --header-bg: #24292e;
    --header-text: #ffffff;
    --card-bg: #ffffff;
    --border: #e1e4e8;
    --input-bg: #ffffff;
}

/* Tema Oscuro */
body.dark {
    --background: #1e1e1e;
    --text-primary: #24292e;
    --header-bg: #24292e;
    --header-text: #ffffff;
    --card-bg: #2c2c2c;
    --border: #444;
    --input-bg: #3a3a3a;
}